.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnCenterNoJustify {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBox {
  width: 85%;
  height: 20%;
  border-bottom: 1px solid black;
}

.topTitle {
  width: 90%;
  height: 60%;
}

.title {
  width: 85%;
  height: 50%;
  font-size: 50px;
}

.type {
  width: 15%;
  height: 80%;
  font-size: 40px;
}

.textRight {
  text-align: right;
}

.topName {
  width: 80%;
  height: 40%;
}

.name {
  width: 25%;
  height: 50%;
  background-color: #e2ded4;
}

.numberbox {
  border: 1px solid black;
}

.numberEA {
  width: 11.11%;
  border-right: 1px solid black;
}

.main {
  width: 70%;
  height: 70%;
  margin-top: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.messageBox {
  width: 95%;
  height: 80%;
  padding: 30px;
}

.message {
  font-size: 25px;
  width: 77%;
  text-align: left;
  margin: auto;
}

.buttom {
  width: 100%;
  height: 15%;
  font-size: 30px;
  color: black;
}

.buttom:hover {
  color: red;
  cursor: pointer;
}

.link {
  color: black;
}

.link:hover {
  color: red;
}

.problem {
  width: 70%;
  height: 70%;
  /* margin-top: 50px; */
}

.examNumber {
  width: 80%;
  height: 10%;
  text-align: left;
}

.examTitle {
  width: 75%;
  height: 15%;
}

.exams {
  width: 50%;
  height: 35%;
}

.examsLi {
  width: 100%;
  height: auto;
}

.examLi:hover {
  color: red;
  cursor: pointer;
}

.result {
  width: 70%;
  height: 75%;
}

.scoreMent {
  width: 80%;
  height: 20%;
  font-size: 60px;
  color: rgb(206, 18, 18);
  font-weight: 600;
}

.ment {
  width: 80%;
  height: 10%;
}

.buttonMent {
  width: 80%;
  height: 20%;
}

.resultLink {
  width: 25%;
  height: 80%;
}
