/* 공통 css클래스 */
.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnCenterNoJustify {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 상단부 박스 */
.topBox {
  width: 85%;
  height: 20%;
  border-bottom: 1px solid black;
}

.topTitle {
  width: 90%;
  height: 60%;
}

.title {
  width: 85%;
  height: 50%;
  font-size: 50px;
}

.type {
  width: 15%;
  height: 80%;
  font-size: 40px;
}

.textRight {
  text-align: right;
}

.topName {
  width: 80%;
  height: 40%;
}

.name {
  width: 25%;
  height: 50%;
  background-color: #e2ded4;
}

.numberbox {
  border: 1px solid black;
}

.numberEA {
  width: 11.11%;
  height: auto;
  border-right: 1px solid black;
}

/* 메인영역 */

.main {
  width: 70%;
  height: 70%;
  margin-top: 50px;
  border: 1px solid black;
}

.messageBox {
  width: 95%;
  height: 80%;
  padding: 30px;
}

.message {
  width: 82%;
  text-align: left;
  margin: auto;
}

.buttom {
  width: 100%;
  height: 15%;
  font-size: 30px;
  color: black;
}

.buttom:hover {
  color: red;
  cursor: pointer;
}

.link {
  color: black;
}

.link:hover {
  color: red;
}

.problem {
  width: 70%;
  height: 70%;
  /* margin-top: 50px; */
}

.examNumber {
  width: 80%;
  height: 10%;
  text-align: left;
}

.examTitle {
  width: 75%;
  height: 15%;
}

.exams {
  width: 50%;
  height: 35%;
}

.examsLi {
  width: 100%;
  height: auto;
}

.examLi:hover {
  color: red;
  cursor: pointer;
}

.result {
  width: 70%;
  height: 75%;
}

.scoreMent {
  width: 80%;
  height: 20%;
  font-size: 60px;
  color: rgb(206, 18, 18);
  font-weight: 600;
}

.ment {
  width: 80%;
  height: 10%;
}

.buttonMent {
  width: 80%;
  height: 20%;
}

.resultLink {
  width: 25%;
  height: 80%;
}

/* 모달창 스타일 */
.modal {
  width: 37%;
  height: 40%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.modalContainer {
  width: 100%;
  height: 90%;
  background-color: #ece9df;
  box-shadow: 5px 5px 10px rgba(0, 0, 0.3, 0.3);
}

.modalFont {
  font-size: 15px;
}

.modalTop {
  width: 85%;
  height: 10%;
  display: flex;
  flex-direction: row-reverse;
}

.modalClose {
  width: 10%;
  height: 100%;
  text-align: right;
  cursor: pointer;
}

.modalClose:hover {
  color: red;
}

.modalText {
  width: 93%;
  height: 80%;
}

.confetti {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1219px) {
  .scoreMent {
    font-size: 55px;
  }
}

@media screen and (max-height: 860px) {
  .title {
    font-size: 42px;
  }

  .type {
    font-size: 35px;
  }

  .scoreMent {
    font-size: 50px;
  }
}

@media (max-width: 430px) and (max-height: 932px) {
  .topBox {
    height: 15%;
  }
  .topTitle {
    width: 95%;
  }
  .title {
    font-size: 19px;
  }

  .type {
    font-size: 15px;
  }

  .messageBox {
    width: 95%;
    height: 95%;
    padding: 15px;
    overflow: auto;
  }

  .buttom {
    height: 5%;
    font-size: 16px;
    font-weight: bolder;
  }

  .scoreMent {
    font-size: 20px;
    width: 100%;
  }

  .numberEA {
    border: none;
    height: 100%;
  }

  .examNumber {
    height: 7%;
  }

  .examTitle {
    width: 80%;
    height: 15%;
  }

  .exams {
    height: 30%;
  }

  .problem {
    width: 85%;
    height: 75%;
  }

  .link {
    width: 45%;
  }
}
